body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    background-color: rgb(0, 0, 0);
}

.subdiv {

    display: flex;
    flex-direction: column;
    width: 98vw;
    height: 98vh;
    /*border: 2px solid #333;
        border-radius: 8px;*/
    overflow: hidden;
    font-family: Arial, sans-serif;
    /*background-color: #f9f9f9;*/
}

.subdiv-header {
    background-color: #444;
    color: white;
    padding: 8px;
    font-size: 1.2em;
    text-align: center;
    border: 2px solid #333;
    border-radius: 8px;
}

.subdiv-body {
    flex: 1;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

}

.subdiv-footer {
    padding: 8px;
    font-size: 0.9em;
    text-align: center;
    color: #555;
    border: 2px solid #333;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#canvas_body {
    /*anything close to 100% will lead to unwanted growth*/
    width: 100%;
    height: 95%;
    overflow: hidden;
    border: 2px solid #333;
    border-radius: 8px;
}

.horizontal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dropdown-button {
    padding: 10px 15px;
    background-color: #7a7a7a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: block;
}

/* Dropdown container */
.dropdown {
    position: relative;
    /* Needed for absolute positioning of menu */

    display: flex;
    justify-content: end;
}

/* Dropdown menu */
.dropdown-menu {
    position: absolute;
    top: 10%;
    /* Position below button */
    right: 2%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    z-index: 999;
    /* Ensures it renders over other elements */
    display: none;
    /* Hidden by default */
}

/* Menu items */
.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}
.key {
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* IE/Edge */
        user-select: none;         /* Standard */
        -webkit-touch-callout: none;
        -webkit-user-drag: none;
    }